@page
@model LibraryManagementWeb.Pages.AddBookModel
@{
    ViewData["Title"] = "Add New Book";
}

<link rel="stylesheet" href="~/css/add-book.css" />

<h1>Add New Book</h1>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="error-message">@Model.ErrorMessage</div>
}

<form method="post" class="login-container" id="addBookForm">
    <div class="form-group">
        <label asp-for="NewBook.Title"></label>
        <input asp-for="NewBook.Title" class="form-control" required />
    </div>
    <div class="form-group">
        <label asp-for="NewBook.Author"></label>
        <input asp-for="NewBook.Author" class="form-control" required />
    </div>
    <div class="form-group">
        <label asp-for="NewBook.Genre"></label>
        <input asp-for="NewBook.Genre" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Add Book</button>
</form>


