@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Library Management System</h1>
    <a href="/Books" class="btn btn-primary btn-lg">View Books</a>
</div>

<section class="mt-5">
    <div class="container">
        <h2 class="text-center">Features</h2>
        <div class="row">
            <div class="col-md-4 d-flex">
                <div class="card mb-4 shadow-sm feature-card flex-fill">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Easy Book Management</h5>
                        <p class="card-text">Add, edit, and delete books with a user-friendly interface.</p>
                        <div class="mt-auto">
                            <a href="#" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="card mb-4 shadow-sm feature-card flex-fill">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">User Accounts</h5>
                        <p class="card-text">Create and manage user accounts. User and Admin authorization.</p>
                        <div class="mt-auto">
                            <a href="#" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="card mb-4 shadow-sm feature-card flex-fill">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Book Reservation</h5>
                        <p class="card-text">Reserve your favorite books with just one click and manage your reservations.</p>
                        <div class="mt-auto">
                            <a href="#" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
