@page
@model LibraryManagementWeb.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="Username" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="Password" />
    </div>
    <button type="submit">Login</button>
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <p style="color:red">@Model.ErrorMessage</p>
    }
</form>
