html {
  font-size: 16px;
  height: 100%;
  background-color: #e9ecef;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
}

main {
  flex: 1;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  color: #343a40;
  font-weight: normal;
  text-align: center;
  margin-top: 20px;
}

h2 {
  font-size: 1.5rem;
  color: #1b6ec2;
  margin-top: 20px;
  text-align: center;
}

.btn {
  font-size: 1rem;
  padding: 10px 20px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.feature-card {
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  padding: 15px;
  background-color: #ffffff;
}

.feature-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.footer {
  display: block;
  text-align: center;
  padding: 10px;
  background-color: #fffffff1;
  color: rgb(0, 0, 0);
}

.navbar-text {
  color: #ffffff;
}
